@charset "utf-8";
/* layout.css는 전체적인 레이아웃 스타일을 정의합니다. */

#skipToContent a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skipToContent a:focus, 
#skipToContent a:active {width:200px;height:50px;background:#21272e;color:#fff;font-size:14px;font-weight:bold;text-align:center;text-decoration:none;line-height:50px}

.contain {*zoom:1; width:1200px; margin:0 auto;}
.contain:after {content:" "; display:block; clear:both;}

/* ************* header Start ************* */

/* ************* header End ************* */


/* ************* nav Start ************* */
.cbp-spmenu{background-color: #312f2f; color: #fff;}
.cbp-spmenu a{text-decoration:none;}
.cbp-spmenu h1{
  font: 20px 'Roboto', sans-serif;
  text-indent: 10px;
  color: #fff;
  padding: 20px 0 10px;
  margin-bottom: 10px;
  border-bottom: 4px double #ccc;
}
.cbp-spmenu-vertical {width: 220px;}
.cbp-spmenu-left {left: -220px;}
.cbp-spmenu-push-toright{left: 220px;}

.cbp-spmenu li a {
	padding: 4px 10px;
	display: block;
	color: #cecece;
}

.cbp-spmenu li a:hover {
	background-color: #424242;
	color:#fff;
}

.cbp-spmenu li.active a {
	background-color: #51648b;
	color:#fff;
}


#showLeftPush{
  position: absolute; top: 10px; right: -42px; z-index: 100;
  background-color: #333;
  width: 32px; height: 32px;
  padding:3px 5px 0;
}
/* ************* nav End ************* */


/* ************* Main Start ************* */
.main #container{padding:10px 10px 10px 50px;}

.page-header{margin-top: 0;}

.main-section{text-align: left;}
.main-section{padding-top: 50px;}
.main-section h2, 
.main-section h3{font-family: 'Nanum Gothic', sans-serif;}
.main-section h1 a{display:inline-block; vertical-align:top; font-family: 'NanumSquare'; font-weight:bold; color: #e9493b; text-decoration:none; -webkit-transform:skew(-0.03deg); transform:skew(-0.03deg);}
.main-section h2{font-size: 22px; margin-bottom: 20px; padding-top: 40px; font-weight: bold;}
.main-section h3{font-size: 17px; margin-top: 50px; margin-bottom: 10px; font-weight: bold;}
.main-section h4{font-size: 15px; margin-bottom: 10px; font-weight: bold;}
.main-section p{line-height:24px; margin-bottom: 30px;}

.main-section h1 small{font-size:35%; font-weight:400; color:#777;}
.main-section h2 small a{font-size: 15px; color: #c60; font-weight: bold;}

.main-section .url{line-height:30px; color:orange;}
.main-section .url a{margin-left:5px;}

/* Code Area Start */
code, kbd, pre, samp {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.highlight{
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.highlight pre{
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal !important;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.pre{
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* ************* Main End ************* */

/* ************* Sub Start ************* */

/* ************* Sub End ************* */


/* ************* footer Start ************* */

/* ************* footer End ************* */

